/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
 * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// Modules
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";

// Partials
@import "partials/header";
@import "partials/footer";
@import "partials/hero";

// Pages
@import "pages/home.scss";