/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
 * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 62.5%; //rem becomes 10px : 1rem, instead of 16px : 1rem. Easier to calculate.
}
// Modules
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";

// Partials
@import "partials/header";
@import "partials/footer";

// Pages
@import "pages/home.scss";